body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.main {
  background-color: blanchedalmond;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.space-x-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-48 {
  margin-left: 48px;
}
.numpad {
  width: 50px;
  height: 50px;
  margin: 0.2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.keycap {
  width: 50px;
  height: 50px;
  margin: 0.2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: sandybrown;
}
.gen-word,
.input-word {
  height: 65px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-word {
  width: 428px;
  justify-content: flex-end;
  border-right: none;
}
.word-test,
.input-test {
  font-size: 45px;
  font-weight: bold;
}
.bds {
  border: 1px solid black;
}
.incorrect {
  color: red;
}
.word-active {
  color: gray;
}
.input-active {
  color: green;
}
.arrow {
  font-size: 20px;
  font-weight: bold;
}
.keybord-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
